*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 background-color:rgb(222, 215, 215)

}

.container {
  border: 1px solid black;
  margin: 40px auto;
  background: #e2dede;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #232323;
  outline: none;
  transition: 0.3s;
}

.form input:focus {
  border-color: #667eea;
}

.add-btn {
  padding: 20px 10px;
  background: #667eea;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background: #5563c1;
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f6ff;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.student-info {
  font-size: 14px;
  color: #333;
}

.delete-btn {
  background: #ff4d4f;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-btn:hover {
  background: #d9363e;
}
