/* .container {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  border: 3px solid red;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  text-align: center;
  font-size: 46px;
  padding: 10px 0;
}

form {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2px;
}

.item label {
  font-size: 20px;
}

.item input {
  padding: 10px 15px;
  font-size: 16px;
  color: grey;
  border-radius: 7px;
  border: 2px solid grey;
}

form button {
  padding: 8px 10px;
  cursor: pointer;
  font-size: 18px;
  border: 2px solid grey;
  border-radius: 7px;
  white-space: nowrap;
}

table{
  margin: 20px 0;
  width: 100%;
  font-size: 22px;
  text-align: center;
}

thead{
  background-color: rgb(74, 132, 232);
  color: white;
}
th,
td{
  padding: 5px 0;
}
td{
  font-size: 20px;
}
  tbody tr:nth-child(2n){
    background-color: rgb(74, 132, 232);
  }
  .actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .actions button{
    padding: 3px 5px;
    color: red;
    background-color: pink;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }

  .actions .del{
    color: red;
    background-color: pink;
    border: 1px solid maroon;
  }
  .actions .del:active{
    background-color: rgb(249, 166, 180);
  }

  
  .actions .edit{
    color: green;
    background-color:lightgreen;
    border: 1px solid green;
  }
  .actions .edit:active{
    background-color: rgb(81, 226, 149);
  }
  td button:active{
    background-color: rgb(228, 181, 188);
  }

  .saveAndCencel button:first-child{
    color: blue;
    background-color: lightblue;
    border: 1px solid blue;
  }
  .saveAndCencel button :first-child{
    background-color: rgb(142, 142, 214);
  }

  .saveAndCencel button:last-child{
    color: grey;
    background-color: white;
    border: 1px solid grey;
    margin-left: 5px;
  }

  .saveAndCencel button:last-child{
    background-color: rgb(205, 201, 201);
  } */